<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap">
</head>
<body>
    
    <main>
        <div class="container">
            <div class="row">
                <div class="col bg-light mt-5 p-5 text-center">
                    <h2>Congrats, <span id="name">USERNAME!</span></h2>
                    <h2>You've <span id="result">won!</span></h2>
                    <hr>
                    <h4>Your score is</h4> <div id="score"><p>0</p></div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>