.highscores {
    background-color: #FDE1B1;
    border-radius: 2rem;
    margin-top: 2rem;
}

tr {
    font-family: 'Fredoka One', cursive;
   color: #ACA7DF;
   font-weight: bold;
   font-size: 2rem;
}