p {
  font-family: 'Montserrat', sans-serif;
}

#hori {
  line-height: .25rem;
}

#place-pet {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}

#pet-picture {
  height: 20rem;
  width: 20rem;
  margin: 4rem auto 1rem;
}

#finish-place {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

#rotate-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #ACA7DF;
  font-weight: 500;
  width: 180px;
  border-radius: 2rem;
  color: white;
  margin: 0 auto;
}

#rotate-button:hover {
  background-color: #9088e7;
}

#start-game-button,
#reset-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #f57098;
  font-weight: 500;
  width: 180px;
  border-radius: 2rem;
  color: white;
  margin: 0 auto;
}

#start-game-button:hover,
#reset-button:hover {
  background-color: #f54277;
}

#reset-button {
  height: 3.25rem;
}

.my-modal-content {
  background-color: #FDE1B1;
  border: 5px solid #ACA7DF;
  color: #ACA7DF;
  border-radius: 2rem;
}
