#place-pet {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}

#finish-place {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

#rotate-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #ACA7DF;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
}

#rotate-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #9088e7;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
}

#start-game-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #f57098;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
  margin-right: 3rem;
  margin-left: 2.25rem;
}

#start-game-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #f54277;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
  margin-right: 3rem;
  margin-left: 2.25rem;
}

.my-modal-content {
  background-color: #FDE1B1;
  border: 5px solid #ACA7DF;
  color: #ACA7DF;
  border-radius: 2rem;
}
