#chat-box {
  background-color: #FDE1B1;
  border: 3px solid #ACA7DF;
  border-radius: 1rem;
  height: 20rem;
  min-width: 20rem;
  max-width: 30rem;
  padding: 0.25rem;
  margin: 0.25rem auto;
}

.chat-wrapper {
  /* display: flex;
  flex-direction: column-reverse; */
  height: 16rem;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  padding-bottom: 0.5rem;
}

.chat-msg {
  border-radius: 1rem;
}


#chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#chat-form {
  
  background: rgba(0, 0, 0, 0.15);
  height: 3rem;
  border-radius: 1.5rem;
  padding-top: 0.15rem;
}

#input {
  border: none;
  padding: 0 1.5rem 0 0.5rem;
  border-radius: 2rem;
  margin: 0.25rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

#input:focus {
  outline: none;
}
#chat-form > button {
  background-color: #87D8EE;
  font-size: 1.5rem;
  border: none;
  margin: 0.25rem 0.25rem 0.25rem 0rem;
  border-radius: 2rem;
  outline: none;
  color: white;
  float: right;
}

#messages {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

#messages > li {
  background: #87d9ee;
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: rgb(228, 244, 250);
}

#messages > li:last-child {
  scroll-snap-align: end;
}

#chat-form > button:hover {
  background-color: #19c3f1;
}