.icon {
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5px;
}

footer {
  text-align: center;
  height: 4rem;
  background-color: #FDE1B1;
}

.card-footer {
  background-color: #FDE1B1;
}