.user-list {
    overflow: scroll;
  background-color: #FDE1B1;
  border: 3px solid #ACA7DF;
  border-radius: 1rem;
  height: 20rem;
}


td {
  font-size: 1rem;
  text-align: center;
}

.invite {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #ACA7DF;
  border: 3px solid #ACA7DF;
  border-radius: 2rem;
  color: white;
}