#cats-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #87D8EE;
  font-weight: 500;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
}

#cats-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #19c3f1;
  font-weight: 500;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
}

#dogs-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #87D8EE;
  font-weight: 500;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  margin-right: 3rem;
  margin-left: 2.25rem;
}

#dogs-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #19c3f1;
  font-weight: 500;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
}

#rotate-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #ACA7DF;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
  margin-right: 3rem;
  margin-left: 2.25rem;
}

#rotate-button:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #9088e7;
  font-weight: 500;
  width: 160px;
  border-radius: 2rem;
  color: white;
  margin-right: 3rem;
  margin-left: 2.25rem;
}

#choose-side {
  text-align: center;
  margin-bottom: 2rem;
}